@import "tailwindcss";

@theme {
  --color-text-primary: #111827;
  --color-text-secondary: #7b7f8a;
  --color-text-muted: #a8afbb;
  --color-text-inverse: #ffffff;

  --color-mega-1: #c2bbf3;
  --color-mega-2: #b2f3ff;
  --color-mega-muted-1: #d8e5e9;
  --color-mega-muted-2: #f2ece5;
  --color-mega-muted-3: #e9dff1;

  --color-surface-muted: #f5f5f7;
  --color-surface-inverse: #111827;

  --color-button-primary: #111827;
  --color-button-secondary: #f5f5f7;
  --color-button-disabled: #f0f0f0;
  --color-button-text-disabled: #abafba;

  --color-success: #66fd9e;
  --color-success-solid: #0c4239;
  --color-success-muted: #ddffe9;
  --color-destructive: #ff4949;
  --color-destructive-solid: #500c0c;
  --color-destructive-muted: #ffcccc;
}
